body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}
ul {
  list-style: none;
  padding-left: 5px;
}

li:hover {
  background-color: gray;
  padding: 1px;
  border: 0.5px dotted white;
}

a:hover {
  cursor: pointer;
  color: white;
}

p {
  margin: 2px;
}

.table {
  border: solid 1px black;
  text-align: justify;
}

.bar {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f9f9fb;
  padding: 15px;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
}
.content {
  max-width: 1440px;
  margin: auto;
  grid-gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-areas: "sidebar main anchors";
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer {
  display: flex;
  justify-content: center;
  min-height: 100px;
  border-top: solid 1px #cdcdcd;
}

.footer div {
  margin-top: 40px;
}

.anchors {
  border-left: solid 1px #cdcdcd;
  padding-left: 15px;
}
.sidebar {
  border-right: solid 1px #cdcdcd;
}
figure {
  text-align: center;
}
